<div class="container mt-5">
  <div class="row">

    <div class="col-12">
      <h2>Configuracion</h2>
    </div>

    <!-- <section id="actions" class="py-4 mb-4 bg-light">
       <div class="container">
         <div class="row">

         </div>
       </div>
     </section>-->

    <flash-messages></flash-messages>


    <section id="login" class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a [routerLink]="['/']" class="btn btn-light btn-block">Regresar al inicio</a>
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-outline-success btn-block" (click)="guardar()">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </section>

    <section id="configuracion" class="mt-5">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h4>Editar Configuracion</h4>
              </div>
              <div class="card-body">
                <fieldset class="form-group">
                  <legend>Permitir registro de usuarios</legend>
                  <div class="form-check">
                    <label for="permitirRegistro" class="form-check-label">
                      <input type="checkbox"
                             class="form-check-input"
                             id="permitirRegistro"
                             name="permitirRegistro"
                             [(ngModel)]="permitirRegistro"
                            [checked]="permitirRegistro">
                          {{permitirRegistro ? "Si" : "No"}}
                    </label>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </div>
</div>
