<!--Botones-->
<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a routerLink="agregar-cliente" class="btn btn-primary btn-block">
          <i class="fas fa-plus"></i> Agregar Cliente
        </a>
      </div>
    </div>
  </div>
</section>

<!--Listado de clientes-->
<section id="clientes">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h4>Listado de clientes</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Nombres</th>
              <th>Saldo</th>
              <th>OP</th>
            </tr>
            </thead>
            <tbody>
            <!--Recorremos el array de clientes-->
            <tr *ngFor="let cliente of clientes; let i = index">
              <td>{{(i +1) }}</td>
              <td>{{cliente.nombre}} {{cliente.apellido}}</td>
              <td>{{cliente.saldo | currency: 'COP':'$'}}</td>
              <td>
                <a routerLink="/cliente/editar/{{cliente.id}}" class="btn btn-secondary">
                  <i class="fas fa-angle-double-right"></i> Editar
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--Tarjetas laterales-->
      <div class="col-md-4">
        <div class="card text-center bg-danger text-white mb-3">
          <div class="card-body">
            <h4>Saldo Total</h4>
            <h5 class="display-4">
              {{getSaldoTotal() | currency:'COP':'$'}}
            </h5>
          </div>
        </div>
        <div class="card text-center bg-success text-white mb-3">
          <div class="card-body">
            <h4>Total Clientes</h4>
            <h5 class="display-4">
              <!--
              clientes?. con el signo de no existir la variable no lo muestra
              -->
              <i class="fas fa-users"></i> {{clientes?.length}}
            </h5>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>



