<div class="container mt-5">
  <div class="row">

    <div class="col-12">
      <h2>Crear cliente</h2>
    </div>



    <div class="col-10 offset-1">
      <flash-messages></flash-messages>
      <form #clienteForm="ngForm" (ngSubmit)="agregarCliente(clienteForm)">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" name="nombre" class="form-control"
                 [(ngModel)]="cliente.nombre"
                 #nombre="ngModel"
                 [ngClass]="{'is-invalid': nombre.errors && nombre.touched}"
                 required
                 minlength="2">
          <div [hidden]="!nombre.errors?.required" class="invalid-feedback">
            Nombre requerido
          </div>
          <div [hidden]="!nombre.errors?.minlength" class="invalid-feedback">
            Debe contener al menos 2 caracteres
          </div>


        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text" id="apellido" name="apellido" class="form-control"
                 [(ngModel)]="cliente.apellido"
                 #apellido="ngModel"
                 [ngClass]="{'is-invalid': apellido.errors && apellido.touched}"
                 required
                 minlength="2">
          <div [hidden]="!apellido.errors?.required" class="invalid-feedback">
            Apellido requerido
          </div>
          <div [hidden]="!apellido.errors?.minlength" class="invalid-feedback">
            Debe contener al menos 2 caracteres
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control"
                 [(ngModel)]="cliente.email"
                 #email="ngModel"
                 [ngClass]="{'is-invalid': email.errors && email.touched}"
                 pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                 required>
          <div [hidden]="!email.errors?.required" class="invalid-feedback">
            Email requerido
          </div>
          <div [hidden]="!email.errors?.pattern" class="invalid-feedback">
            El email no es correcto
          </div>
        </div>
        <div class="form-group">
          <label for="saldo">Saldo</label>
          <input type="number" id="saldo" name="saldo" class="form-control"
                 [(ngModel)]="cliente.saldo"
                 #saldo="ngModel"
                 [ngClass]="{'is-invalid': saldo.errors && saldo.touched}"
                 required>
          <div [hidden]="!saldo.errors?.required" class="invalid-feedback">
            Saldo requerido
          </div>
        </div>

        <button type="submit" class="btn btn-outline-primary">Guardar</button>

      </form>
    </div>
  </div>
</div>
